{
  "development": {
    "port": 8443,
    "privateKey" : "key.pem",
    "certificate" : "cert.pem",
    "API_KEY" : "abc",
    "dialect" : "sqlite",
    "storage" : "db.file.sqlite",
    "raygun"  : null
  },
  "production": {
    "port": 8443,
    "privateKey" : "key.pem",
    "certificate" : "cert.pem",
    "API_KEY" : "randomapikey",
    "dialect" : "sqlite",
    "storage" : "db.prod.sqlite",
    "raygun"  : "randomkey"
  }
}
