{
  "development": {
    "port": 8443,
    "privateKey" : "key.pem",
    "certificate" : "cert.pem",
    "API_KEY" : "abc",
    "username": "root",
    "password": null,
    "database": "tunga_development",
    "dialect" : "sqlite",
    "storage" : "db.file.sqlite"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "tunga_production",
    "host": "127.0.0.1",
    "dialect": "sqlite"
  }
}
